.footerbar {
  height: 49px;
  background: #212124;
  .col-md-auto {
    padding: 0px;
  }
  .playbtn {
    height: 108px;
    position: relative;
    top: 7px;
    left: 33px;
    .footerbtn {
      width: 32px;
      height: 32px;
      margin: 0 11px 0 11px;
    }
  }

  .timebar {
    width: 800px;
    color: #ffffff;
    position: absolute;
    top: 3px;
    left: 230px;
    .timebar-process {
      position: relative;
      left: 34px;
      top: 3px;
    }
  }

  .volumebar {
    position: relative;
    left: 535px;
    top: 3px;
    .timebar-process {
      position: relative;
      left: 34px;
      top: 3px;
    }
  }

  .starttime {
    position: absolute;
    left: 202px;
  }

  .endtime {
    position: absolute;
    left: 640px;
  }

  .timefont {
    font-size: 11.5px;
    color: rgba(255, 255, 255, 0.9);
    height: 24px;
    letter-spacing: 1px;
    top: 20px;
  }

  .volumebarbtn {
    position: relative;
    top: 14px;
    left: 460px;
    .volbtn {
      height: 18px;
      width: 18px;
      color: #7a7a7c;
      cursor: pointer;
      &:hover {
        color: #dcdde4;
      }
    }
  }

  .playType {
    position: relative;
    left: 580px;
    top: 13px;
    .playStatus {
      width: 16px;
      height: 16px;
      color: #7a7a7c;
      cursor: pointer;
      &:hover {
        color: #dcdde4;
      }
    }
  }
}
