.leftmenu {
  .navtitle {
    color: #adafb2;
    font-size: 13px;
    padding: 5px;
    margin: 5px 0 3px 0;
  }
  .nav-citem {
    margin: 1px 0 1px 8px;
    color: #adafb2;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;

    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 187px;

    .navtext {
        cursor: Pointer;
        color: #adafb2;
        font-size: 14px;
        text-decoration: none;
      }
  }

  .leftbtn {
    color: #adafb2;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  .nav-citem:hover .navitem,
  .nav-citem:hover .leftbtn,
  .nav-citem:hover .navtext {
    color: rgb(255, 255, 255);
  }

  .navtitleMusicList {
    cursor: Pointer;
    color: #adafb2;
    font-size: 13px;
    padding: 5px;

    .span-right {
        margin-right: 75px;
      }
  }

  .__bar-is-vertical:hover {
    background: #3b3c40 !important;
  }
}
