.leftmenu {
  .navtitle {
    color: #adafb2;
    font-size: 13px;
    padding: 5px;
    margin: 5px 0 3px 0;
  }
  .nav-citem {
    margin: 3px 0 3px 0;
    padding-left: 15px;
    color: #adafb2;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;

    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 193px;

    .navtext {
      cursor: Pointer;
      color: #adafb2;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .nav-active {
    background: #26282c;
    color: #dcdde3 !important;
    padding-left: 11px !important;
    &:hover .navitem,
    &:hover .leftbtn,
    &:hover .navtext {
      color: #dcdde3 !important;
    }
    .leftbtn {
      color: #dcdde3;
    }

    border-left: solid #cc2a2a 4px;
    box-sizing: border-box;
  }

  .leftbtn {
    color: #adafb2;
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }

  .nav-citem:hover .navitem,
  .nav-citem:hover .leftbtn,
  .nav-citem:hover .navtext {
    color: rgb(255, 255, 255);
  }

  .navtitleMusicList {
    cursor: Pointer;
    color: #adafb2;
    font-size: 13px;
    padding: 5px;

    .span-right {
      margin-right: 75px;
    }
  }

  .__bar-is-vertical:hover {
    background: #3b3c40 !important;
  }
}

.pop_input {
  width: 228px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  color: #dcdde4;
  background-color: #3a3c40;

  padding: 0 10px;

  margin: 20px 0 10px 10px;
  &::placeholder {
    color: #5f5f63;
    font-size: 13px;
  }
}

.sub_block {
  display: flex;
  justify-content: center;
  .sub_btn {
    width: 80px;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 6px;
    letter-spacing: 5px;
    color: #fff;
    cursor: pointer;

    margin: 10px;
    &.create {
      background: #2e4e7e;
      &:disabled {
        background-color: #26354b;
        cursor: default;
        &:hover {
          background-color: #26354b;
        }
      }
      &:hover {
        background: #3a6098;
      }
    }

    &.cancle {
      background: #3b3d41;
      &:hover {
        background: #414346;
      }
    }
  }
}

.overWord {
  color: #b82525;
  margin: 0 0 4px 10px;
  font-size: 12px;
}

.el-checkbox {
  color: #dcdde4;
  margin-left: 10px;
  cursor: default;

  font-weight: 100;
  ::v-deep .el-checkbox__inner {
    background-color: #2d2f33;
  }
  ::v-deep .el-checkbox__label {
    font-size: 12px;
    position: relative;
    top: 1px;
  }
}

::v-deep .el-checkbox__input {
  cursor: default;
  &.is-checked + {
    .el-checkbox__label {
      color: #dcdde4;
    }
  }
  &.is-focus {
    .el-checkbox__inner {
      border-color: #414347;
    }
  }
}

::v-deep .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #2d2f33;
  border-color: #414347;
}

::v-deep .el-checkbox__inner {
  border: 1px solid #414347;
  &:hover {
    border: 1px solid #414347;
  }
}
