.container {
  background-color: #16181c;
  .music-table {
    width: 100%;
    border-collapse: collapse;
    color: #828385;
    .custom-th {
      width: 50px;
      border-left: 0;
    }

    th {
      border-left: solid 1px #23262c;
      border-bottom: solid 1px #23262c;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 350;
    }

    .custom-tr {
      &:hover {
        background-color: #232529;
        .td-singer {
          color: #dcdde4;
        }
        .td-album {
          color: #dcdde4;
        }
      }
      &:nth-child(odd) {
        /* 匹配奇数行 */
        background-color: #1a1c20;
        &:hover {
          background-color: #232529;
        }
      }
    }

    

    td {
      color: #d3dbcc;
      font-size: 12px;
      font-weight: 450;
      padding: 4px 10px;
    }

    .td-number {
      width: 50px;
      color: #828385;
      text-align: right;
    }

    .td-operate {
      width: 60px;
      .icon-1 {
        margin-left: 4px;
        color: rgb(184, 37, 37);
        cursor: pointer;
        &:hover {
          color: rgb(205, 41, 41);
        }
      }
      .icon-2 {
        margin-left: 4px;
        color: rgb(140, 145, 153);
        cursor: pointer;
        &:hover {
          color: rgb(144, 145, 147);
        }
      }
    }

    .td-name {
      width: 260px;
    }

    .td-singer {
      color: #828385;
      width: 185px;
    }

    .td-album {
      color: #828385;
      width: 160px;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      padding-right: 0 !important;
    }

    .td-length {
      color: #828385;
      width: 100px;
    }
  }
}
