.bg-header{
    background-color: #222225;
    height: 50px;
  }
  
  .navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.7)
  }
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#ffffff;
  }
  
  
  .navbar-tools{
    -webkit-app-region: no-drag;
    position: fixed;
    top: 10px;
    right: 10px;/*pixels away from the right of the navbar*/
  }
  
  .history{
    padding-right: 30px; 
    padding-left: 30px; 
  }

  .historybtn{
    width: 20px;
    height: 20px;
    color: #8b8b8b;
    -webkit-app-region: no-drag;
  }

  .historybtn:hover{
    color: rgb(230, 231, 235);
  }
  
  
  .search{
    -webkit-app-region: no-drag;
    
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #161618;
  
    width: 216px;
    height: 21px;
  }
  
  
  .searchinput{
    position: relative;
    left: 15px;
    bottom: 2px;
    
  
    border: 0;
    box-shadow: 0;
    outline:none;
  
    width: 170px;
    height: 20px;
    font-size: 12px;
  
    color: #ffffff;
    background: #161618;
  }
  
  .searchbtn{
    position: relative;
    right: -24px;
    bottom: 3px;
    height: 16px;
    width: 16px;
    color: #8b8b8b;
  }

  .searchbtn:hover{
    color: #dadada;
  }

  .toolbtn{
    color: #a0a0a0;
    height: 16px;
    width: 16px;
    cursor:Pointer;
  }

  .toolbtn:hover{
    color: #dadada;
  }
  
  .svgspace{
    padding: 4px 0 0 10px;
  }
  
  .navbar-brand{
    -webkit-app-region: no-drag;
  
  
    cursor:Pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
 